/* import Orbitron Extra-bold 800 from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');


/* /// DECLARING VARIABLES /// */
:root {
    --black: #171717;
    --white: white;
    --red: #F13F3F;
    --green: #33C16C;
    --orange: #FFD60A;
    --yellow: #FDF7E8;
    --blue: #02398C;
}
/* /// END OF DECLARING VARIABLES /// */


/* /// BROSWER RESET /// */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /// END OF BROSWER RESET /// */


/* /// OVERALL LAYOUT /// */

html, body {
    height: 100%;
    width: 100%;
}

/* div containing everything */
#vendingMachine {
    height: 100vh;
    text-align: center;
    position: relative;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);
    object-fit: cover;
}
/* /// END OF OVERALL LAYOUT /// */



/* /// VENDING MACHINE IMAGE LAYOUT /// */
#machine-img {
    height: 100%;
    position: absolute;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);
}
/* /// END OF VENDING MACHINE IMAGE LAYOUT */



/* /// SMILEY AND ANIMATION /// */
/* lay parent div on top of the vending machine image */
#overlay {
    cursor: pointer;

    /* width and height set to be same as vending machine image using jQuery */
    position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
}


#smiley-wrapper {
    width: calc(1035.21/1282 * 100%);
    height: calc(155.49/2157 * 100%);
    position: absolute;
        right: calc(125.39/1282 * 100%);
        top: calc(129.01/2157 * 100%);
    display: flex;
        justify-content: space-between;
}

.smiley {
    width: calc(155.49/1035.21 * 100%);
    height: 100%;
}

.smiley-img {
    width: 100%;
    height: 100%;
}

.smiley.left {
    animation: spinning 5s linear infinite reverse;
}

.smiley.right {
    animation: spinning 5s linear infinite;
}

@keyframes spinning {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}
/* /// END OF SMILEY AND ANIMATION /// */



@media (max-width: 396px) {

    /* set divs to occupy full width instead of height  */
    #vendingMachine {
        width: 100vw;
    }

    /* #overlay width and height will depend on this (set using jQuery) */
    #machine-img {
        width: 100%;
        height: auto;
    }

}