* {
    padding: 0;
    margin: 0; 
}

body, html {
    /* Height of document */
    height: 600vh;
}

.bg {
    /* The image used */
    background-image: url("./reading_website.jpg");
    /* Full height */
    height: 100%;
    /* Position image nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* For .content position */
    position: relative;
}

.content {
    /* Position content center of the whole page */
    position: relative;
    width: 65ch;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* typography */
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 0.5px;
}