/*
Import fonts from Adobe Fonts

- Obviously 400, 600
- Neue Haas Grotesk Text 400
*/
@import url("https://use.typekit.net/gsk4rnl.css");


/* /// VARIABLES /// */
:root {

    /* // COLORS // */
    --blue: rgb(65, 96, 236);
    --black: #171717;
    --white: white;
    --green: #71C767;
    --yellow: #71C767;

    /* // FONTS // */
    --primaryFont:  'obviously', Helvetica, Arial, sans-serif;
    --secondaryFont: 'neue-haas-grotesk-text', Helvetica, Arial, sans-serif;

    /* // SPACING/GAPS // */
    --gap1: 80px;
    --gap2: 40px;
    --gap3: 20px;
}

/* /// END OF VARIABLES /// */

/* /// BROWSER RESET /// */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* /// END OF BROWSER RESET */



/* /// TYPOGRAPHY /// */
/* set base font size */
html {
    /* based on the smallest font size */
    font-size: 17px; 
}

h1 {
    font-family: var(--primaryFont);
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 12vw;
    letter-spacing: -0.09em;
}

h2 {
    font-family: var(--primaryFont);
    font-weight: 600;
    font-style: normal;
    font-size: calc(30/17 * 1rem);
}

p, a {
    font-family: var(--secondaryFont);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5em;
}


/* /// END OF TYPOGRAPHY /// */


/* /// MOBILE FIRST APPROACH - LAYOUT/// */
body {
    padding: 0 12px;
    background-color: var(--green);
}

h1 {
    margin-top: var(--gap2);
    margin-bottom: var(--gap1);
}

h2 {
    margin-bottom: var(--gap3);
}

.section {
    margin-bottom: var(--gap2);
}
/* /// END OF MOBILE FIRST APPROACH - LAYOUT/// */



/* /// STYLE LINKS - https://www.w3schools.com/css/css_link.asp/// */
/* remove underline */
a {
    text-decoration: none;
}

/* set all links to black */
a:link, a:visited {
    color: var(--black);
}

/* hover */
a:hover {
    color: var(--black);
    text-decoration: underline;
}

/* selected link */
a:active {
    color: var(--blue);
}
/* /// END OF STYLE LINKS /// */



/* /// MEDIA QUERIES - TABLET /// */
@media (min-width: 650px){

    /* change side margins */
    body {
        padding: 0 24px;
    }

    /* two column layout */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 36px;
    }

    /* spacing */
    .section {
        margin-bottom: var(--gap1);
    }

    h1 {
        margin: var(--gap1) 0;   
        font-size: 10vw; 
    }

    h2 {
        margin-bottom: var(--gap2);
    }
}
/* /// END OF MEDIA QUERIES - TABLET /// */



/* /// MEDIA QUERIES - DESKTOP /// */
@media (min-width: 1100px){

    /* change side margins */
    body {
        padding: 0 48px
    }

    /* expand to 3 columns */
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;   
        column-gap: 48px;
    }
}
/* /// END OF MEDIA QUERIES - DESKTOP /// */