/* declaring variables */
:root {
    /* change color of the letters */
    --letterColor: rgb(28, 73, 28);

    /* change background color */
    --bg:beige; 
}

/* reset all element's padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* overall document padding and background color */
body {
    background-color:var(--bg);
    padding: 0 0 10vh 1%;
}

.letter {
    /* ///SETTINGS/// */
    /* adjusting letter size */
    width: calc(1 * 360px);
    height: calc(1 * 288px);
    /* tracking */
    margin-right: 0px;

    /* reference/testing purpose */
    /* border: 1px solid green; */
    display: inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
    position: relative; /* .grid's position is now based on this class  */
    margin-top: 10vh;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0px;
    width: 100%;
    height: 100%;
}

.grid-item {
    width: 100%;
    height: 100%;
    position: relative; /* the position of the parts (below) is now based on this div */
    /* grid for reference */
    /* border: 1px solid green;  */
}






/* ///// PARTS //////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////*/


/* /////SERIF///// 
//////////////////*/

/* note: serif direction is based on the direction the serif is attached to, unless specified */

/* // SERIF BOTTOM RIGHT // */
.serif {
    /* width: calc(100% + (2/8 * 100%)); */
    width: 100%;
    height: 100%; 
    background-color: var(--letterColor);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}

/* curve on serif */
.serif::before {
    content: '';
    /* width and height is now based on .serif */
    width: 100%;
    height: calc(63/72 * 100%);
    border-radius: 0 0 calc(30/90 * 100%) calc(30/90 * 100%);
    background-color: var(--bg);
    position: absolute;
    top:0;
    right: 0;   
}

/* using rectangles to block out the bottom excess shapes on the curve - used clip path under .serif instead*/
/* .serif-mask {
    width: 50%;
    height: 100%;
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
} */


/* // SERIF DIRECTIONS // */
.serif-bottom-left {
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
}


.serif-top-right { 
    transform: scaleY(-1);
    right:0;
    top:0;
}


.serif-top-left {
    transform: scale(-1,-1);
    left: 0;
    top: 0;
}


/* /////OUTER STEMS///// 
/////////////////////////*/

/* curved stem - top part of the letter */
.curve-stem {
    width: 100%;
    height: 100%; 
    background-color: var(--letterColor);
    position: absolute;
    right: 0;
    top:0;
}

/* the curve on the stem */
.curve-stem::before {
    content: '';
    width: 100%;
    height: calc(63/72 * 100%);
    border-radius: calc(30/90 * 100%) calc(30/90 * 100%) 0 0;
    background-color: var(--bg);
    position: absolute;
    bottom: 0;
    right: 0;
}

.curve-stem-bottom {
    transform: scaleY(-1);
}



/* straight stem - top part of the letter  */
.straight-stem {
    width: 100%;
    height: calc(1/8 * 100% + 1px);
    background-color: var(--letterColor);
    position: absolute;
    left: 0;
    top: 0;
}

/* straight stem - bottom part of the letter */
.straight-stem-bottom {
    width: 100%;
    height: calc(1/8 * 100%);
    background-color: var(--letterColor);
    position: absolute;
    /* left: 0; */
    bottom: 0;
}



/* /////MIDDLE STEM///// 
/////////////////////////*/

/* note: the thin stem in the center is splitted between top and bottom */

/* curve facing top */
.middle-stem {
    width: 100%;
    height: 100%; 
    background-color: var(--letterColor);
    position: absolute;
    right: 0;
    bottom: translateY(calc((1/8)/2 * 100%));
}

.middle-stem::before {
    content: '';
    width: 100%;
    height: calc(63/72 * 100%);
    border-radius: 0 0 calc(30/90 * 100%) calc(30/90 * 100%);
    background-color: var(--bg);
    position: absolute;
    top: 0;
    left: 0;
}

/* curve facing bottom */
.middle-stem-bottom {
    transform: scaleY(-1);
}




/* /////THICK STEM CURVE///// 
//////////////////*/
/* default direction - curve part facing bottom right */
.curve {
    position: absolute;
    /* top:0; */
    /* left:0; */
    width: 100%;
    height: 100%;
    background-color: var(--letterColor);
    border-radius: 0 0 100% 0;
}


/* curve directions */
.curve-top-left {
    border-radius: 100% 0 0 0;
}

.curve-bottom-left {
    border-radius: 0 0 0 100%;
}

.curve-top-right {
    border-radius: 0 100% 0 0;
}


/* /////SMALLER CURVE///// 
//////////////////*/

/* bottom right default  */
.smaller-curve {
    position: absolute;
    bottom:0;
    /* left:0; */
    width: 100%;
    height: calc(6/8 * 100%);
    background-color: var(--letterColor);
    border-radius: 0 0 100% 0;
}

.smaller-curve-top-right {
    border-radius: 0 100% 0 0;
    top:0;
}

.smaller-curve-top-left {
    border-radius: 100% 0 0 0;
}

.smaller-curve-bottom-left {
    border-radius: 0 0 0 100%;
}


/* move the curve up in the following letters*/
.letter-c .smaller-curve.smaller-curve-bottom-left,
.letter-e .smaller-curve.smaller-curve-bottom-left,
.letter-f .smaller-curve.smaller-curve-bottom-left,
.letter-s .smaller-curve.smaller-curve-bottom-left,
.letter-g .smaller-curve.smaller-curve-bottom-left{
    top: calc(-2/8 * 100%);
}

/* move the curve down in the following letters */
.letter-c .smaller-curve.smaller-curve-top-left,
.letter-e .smaller-curve-top-left.smaller-curve-top-left {
    top: calc(4/8 * 100%);
}




/* /////LARGER CURVE FOR S AND G///// 
///////////////////////////////////////*/
.larger-curve {
    position: absolute;
    bottom:0; 
    width: 100%;
    height: calc(9/8 * 100%);
    background-color: var(--letterColor);
    border-radius: 0 100% 0 0;
}



/* /////SQUARE///// 
//////////////////*/
.square {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--letterColor);
}


/* /////LARGER SQUARE/RECTANGLE FOR LETTER Q///// 
/////////////////////////////////////////////*/
.rect{
    position: absolute;
    width: 100%;
    height: calc(11/8 * 100%);
    background-color: var(--letterColor);
}








/* ///// CUSTOM POSITIONS (THAT BREAKS THE GRID)///////////////////// 
////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////*/

/* /// LETTER G /// */
/* left vertical stem -  shift right*/
.g-stem-left {
    left: calc(6/8 * 100%);
}

/* right vertical stems - shift right */
.g-stem-right {
    left: calc(2/8 * 100%);
}

/* top horizontal stem - left curve - shifted left */
.g-stem-horizontal-left {
    left: calc(-2/8 * 100%);
}

/* top horizontal stem - right curve - shifted right*/
.g-stem-horizontal-right {
    left: calc(2/8 * 100%);
}



/* /// LETTER M and T /// */
/* vertical stem shifted right */
.mt-stem-right {
    left: calc(4/8 * 100%);
}

/* vertical stem shifted left */
.mt-stem-left {
    right: calc(4/8 * 100%);
}

/* serif shifted left */
.mt-serif-left {
    right: calc(4/8  * 100%);
}

/* serif shifted right */
.mt-serif-right {
    left: calc(4/8  * 100%);
}


/* /// LETTER Q /// */
/* vertical stem shifted left */
.q-stem-left {
    right: calc(5/8 * 100%);
}

/* vertical stem bottom curves shifted top */
.q-curve-top {
    top: calc(-5/8 * 100%);
}

/* serif shifted right */
.q-serif-right {
    left: calc(3/8 * 100%);
}


/* /// LETTER S/// */
/* shift S middle stem down */
.s-stem {
    top: calc(-1/8 * 100%);
}



/* /// LETTER W - Generated by flipping M /// */
.letter-w {
    transform: scaleY(-1);
}



/* /// LETTER V  /// */
/* one side of the letter */
.v-part-wrapper {
    position: absolute;
    height: 100%;
    width: calc(2/5 * 100%);
    /* background-color: var(--letterColor); */
}

/* left side */
.v-part-wrapper-left {
    left: calc(18/360 * 100%);
    transform: skew(9deg);
}

/* right side */
.v-part-wrapper-right {
    right: calc(18/360 * 100%);
    transform: skew(-9deg) scaleX(-1);
}

/* wraps the components of the stem - the curve and the square (v.stem) */
.v-stem-wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    /* background-color: red; */
}

.v-curve-top-right {
    position: absolute;
    border-radius: 0 100% 0 0;
    height: calc(1/4 * 100%);
    width: 100%;
    background-color: var(--letterColor);
}

.v-curve-bottom-left {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 0 100%;
    height: calc(1/4 * 100%);
    width: 100%;
    background-color: var(--letterColor);
}

.v-stem {
    position: absolute;
    right: 0;
    top: calc(1/4 * 100%);
    height: 50%;
    width: 100%;
    background-color: var(--letterColor);
}

/* wraps around the serifs */
.v-serif-wrapper {
    position: absolute;
    left: 0;
    height: 25%;
    width: 50%;
}



/* /// LETTER Z  /// */
/* z stems shifted right */
.z-stem-right {
    left: calc(6/8 * 100%);
}

/* diagonal part of Z */
.z-diagonal-wrapper {
    position: absolute;
    left: calc(2/5 * 100%);
    width: calc(1/5 * 100%);
    height: 100%;
    /* background-color: red; */
    transform: skew(-30deg);
    
}

.z-curve {
    position:absolute;
    width: 100%;
    height: 25%;
    border-radius: 100% 0 0 0;
    background-color: var(--letterColor);
}

.z-curve-bottom {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    border-radius: 0 0 100% 0;
    background-color: var(--letterColor);
}

.z-stem {
    position:absolute;
    top: 25%;
    width: 100%;
    height: 50%;
    background-color: var(--letterColor);
}

/* z serif microadjustment */
/* shift a little left */
.z-serif-left {
    left: calc(-1/8 * 100%);
}

/* shift a little right */
.z-serif-right {
    right: calc(-1/8 * 100%);
}



/* /// HYPHEN  /// */
/* top serif */
.hyphen-serif-top {
   transform: rotate(90deg) scaleY(-1);
   transform-origin: center;
}

/* bottom serif */
.hyphen-serif-bottom {
    transform: rotate(90deg) scaleX(-1);
    transform-origin: center;
 }

 /* shift everything down */
 .hyphen-down {
    top: calc(4/8 * 100%);
 }
 
