/* import IBM Plex Mono 700 and IBM Plex Sans 300 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=IBM+Plex+Sans:wght@300&display=swap');

/* variables */
:root {

    /* Colors */
    --green: #BDCBB4;
    --black: #171717;

    /* fonts */
    --plexMono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --plexSans: 'IBM Plex Sans', Arial, Helvetica, sans-serif;

}


/* browser reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* /// TYPOGRAPHY /// */
html {
    font-size: calc(0.85*2vw);
}

h1 {
    font-family: var(--plexMono);
    font-weight: 700;
    font-size: calc(120/24 * 1rem);
    text-align: center;
}

p {
    font-family: var(--plexSans);
    font-weight: 300;
    font-size: 24px;
}
/* /// END OF TYPOGRAPHY /// */


/* /// LAYOUT /// */
html, body, #container {
    width: 100%;
}

body {
    background-color: var(--green);
    color: var(--black);
    padding: 80px;
}

#header {
    /* background-color: purple; */
    display: flex;
        justify-content: space-between;
        align-items: center;
    margin-bottom: 80px;
}

.graphic {
    width: 10vw;
}
/* /// END OF LAYOUT /// */


/* /// MEDIA QUERIES /// */
@media (max-width: 769px){

    body {
        padding: 40px;
    }

    #header {
        margin-bottom: 48px;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 481px){

    body {
        padding: 48px 20px;
    }

    #header {
        display: block;
    }

    p {
        font-size: 17px;
    }

    h1 {
        font-size: 10vw;
        text-align: left;
        margin: 20px 0;
    }
}

@media (max-width: 321px){

    body {
        padding: 48px 20px;
    }

    h1 {
        margin: 10px 0;
    }

}
/* /// END OF MEDIA QUERIES /// */