/* import Poppins Bold 700 from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* browser reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

iframe {
    /* set width and height to 100% to make it take up the grid */
    width: 100%;
    height: 100%;
    border: 5px solid #f47400;
}

#header {
    background-color: #f47400;
}


/* /// LAYOUT /// */
.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#piano {
   grid-column: 1/-1; 
   grid-row: 1/4;
}

#rhythm {
    grid-column: 1/4;
    grid-row: -4/-1;
}

#song-maker {
    grid-column: 4/7;
    grid-row: -4/-1;
}

#melody-maker {
    grid-column: 7/10;
    grid-row: -4/-1;
}

#kadinsky {
    grid-column: 10/13;
    grid-row: -4/-1;
}
/* /// END OF LAYOUT /// */



/* ///MEDIA QUERIES/// */
@media (max-width: 1025px) {
   
    body {
        height: 150%;
    }

    .grid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    #piano {
        grid-column: 1/-1;
        grid-row: 1/4;
    }

    #song-maker {
        grid-column: 1/4;
        grid-row: 4/7;
    }

    #melody-maker {
        grid-column: -1/-4;
        grid-row: 4/7;
    }

    #rhythm {
        grid-column: 1/4;
        grid-row: -1/-4;
    }

    #kadinsky {
        grid-column: -1/-4;
        grid-row: -1/-4;
    }
}

@media (max-width:767px) {

    .grid {
        display: block;
    }

    .grid div {
        height: 40%;
    }
}
/* ///END OF MEDIA QUERIES/// */



